<div class="col-md-6 col-md-offset-3">
	 <div class="row">
		 <div class="panel panel-default">
			  <div class="panel-heading">
					<h2>Feedback</h2>
			   </div>
			   <div class="panel-body">

                <form action="new">
					<% if @feedback.errors.any? %>
						<div id="errors">
							<h4>
							<%= pluralize(@feedback.errors.count, "error") %>
								prevented this feedback from saving
							</h4>
					  		<ul>
							<% @feedback.errors.full_messages.each do |msg| %>
						 		 <li>
									<%= msg %>
						  		</li>
							<% end %>
						</ul>
						</div>
					<% end %>
				<div class="form-inputs">
				
				<div class="form-group">
				<label>Your Name</label>
     
                    <input type="text" name="name" class="form-control" required>
				</div>

				<div class="form-group">
				<label>Rating (1=Lowest 5=Highest)</label>
               
                    <select name="rating" class="form-control">
                     <option>---Select---</option>
                     <option>1</option>
                     <option>2</option>
                      <option>3</option>
                       <option>4</option>
                        <option>5</option>
                    </select>
				</div>
				<div class="form-group">
				<label>Comment</label>
                      <input type="text" name="comment" class="form-control" required>
				</div>
				
			  
				 <div class="form-actions">

					<input type="submit" class="btn btn-primary center-block">
				 </div>
			</div>
			  
			</form>

			</div>
		</div>
	</div>
</div>
